<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="d-flex" role="search">
        <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
          <h3 id="hh"></h3>
          <li class="nav-item">
            <a
              id="userlink"
              class="nav-link active"
              aria-current="page"
              href="#"
              >Username</a
            >
          </li>
          <li class="nav-item">
            <a
              id="signoutlink"
              class="nav-link active"
              aria-current="page"
              href="#"
              >Sign Out</a
            >
          </li>
        </ul>
      </form>
    </div>
  </div>
</nav>

<header class="head">
  <div class="section">
    <div class="head__nav">
      <a class="head__logo" href="./index.html">
        <svg width="24" height="24">
          <use href="./svg/sprite.svg#icon-film"></use>
        </svg>
        <span class="logo__text">Filmoteka</span>
      </a>
      <div>
        <a class="head__link--home current home" href="./index.html"> Home </a>
        <a class="head__link--library library" href="./library.html">
          My library
        </a>
      </div>
    </div>
    <form class="search-form" id="search-form">
      <input
        class="input"
        type="text"
        name="searchQuery"
        autocomplete="off"
        placeholder="Movie search"
      />
      <button class="submit-button" type="submit">
        <svg width="12" height="12">
          <use href="./svg/sprite.svg#icon-search"></use>
        </svg>
      </button>
    </form>
    <div>
      <a class="head__link--home current home" href="./register.html">
        Sign Up
      </a>
      <a class="head__link--library library" href="./login.html"> Log In </a>
    </div>
  </div>
  <!-- <include src="./partials/auth.html"></include> -->
</header>
