<div class="backdrop visually-hidden">
  <div id="modal-loader" class="lds-spinner visually-hidden">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>

  <div class="modal-container visually-hidden">
    <button class="close-button">X</button>
    <div class="modal"></div>
    <div class="modal-buttons">
      <button
        type="button"
        class="modal__button button-highlighted add-to-watched"
      >
        ADD TO WATCHED
      </button>
      <button type="button" class="modal__button button-bordered add-to-queue">
        ADD TO QUEUE
      </button>
    </div>
  </div>
</div>
