<div class="backdrop visually-hidden">
  <div id="modal-loader" class="lds-spinner visually-hidden">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>

  <div class="modal-container visually-hidden">
    <button class="close-button">X</button>
    <div class="modal"></div>
    <button class="modal__button button-highlighted">ADD TO WATCHED</button>
    <button class="modal__button button-bordered">ADD TO QUEUE</button>
  </div>
</div>
