.gallery-item .movie__link
 {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.movie__poster {
    max-height: 402px;
    margin-bottom: 10px;

    @media screen and (min-width: 768px) {
        max-height: 455px;  
        margin-bottom: 8px;      
      }

    @media screen and (min-width: 1280px) {
        max-height: 574px;  
        margin-bottom: 12px;      
      }
}

.movie__link .movie__title {
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #000000;

    @media screen and (min-width: 768px) {
        line-height: 16px;        
      }

    @media screen and (min-width: 1280px) {
        line-height: 24px;  
        font-size: 20px;
    }
}

.movie__link .movie__info {
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #FF6B08;

    @media screen and (min-width: 1280px) {
        line-height: 24px;  
        font-size: 20px;
    }

}